<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Digicensus_Community_Demographic_Survey-Tool</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_Login_Servlet</display-name>
    <servlet-name>Admin_Login_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Admin_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login_Servlet</servlet-name>
    <url-pattern>/Admin_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enumerator_Login_Servlet</display-name>
    <servlet-name>Enumerator_Login_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Enumerator_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enumerator_Login_Servlet</servlet-name>
    <url-pattern>/Enumerator_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Enumerators_Servlet</display-name>
    <servlet-name>Add_Enumerators_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Add_Enumerators_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Enumerators_Servlet</servlet-name>
    <url-pattern>/Add_Enumerators_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Enumerators_Servlet</display-name>
    <servlet-name>Delete_Enumerators_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Delete_Enumerators_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Enumerators_Servlet</servlet-name>
    <url-pattern>/Delete_Enumerators_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enumerator_Register_Servlet</display-name>
    <servlet-name>Enumerator_Register_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Enumerator_Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enumerator_Register_Servlet</servlet-name>
    <url-pattern>/Enumerator_Register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citizen_Login_Servlet</display-name>
    <servlet-name>Citizen_Login_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Citizen_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citizen_Login_Servlet</servlet-name>
    <url-pattern>/Citizen_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citizen_Register_Servlet</display-name>
    <servlet-name>Citizen_Register_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Citizen_Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citizen_Register_Servlet</servlet-name>
    <url-pattern>/Citizen_Register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conduct_Surveys_Servlet</display-name>
    <servlet-name>Conduct_Surveys_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Conduct_Surveys_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conduct_Surveys_Servlet</servlet-name>
    <url-pattern>/Conduct_Surveys_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Participate_Survey_Servlet</display-name>
    <servlet-name>Participate_Survey_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Participate_Survey_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Participate_Survey_Servlet</servlet-name>
    <url-pattern>/Participate_Survey_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submit_Survey_Enumerator_Servlet</display-name>
    <servlet-name>Submit_Survey_Enumerator_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Submit_Survey_Enumerator_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit_Survey_Enumerator_Servlet</servlet-name>
    <url-pattern>/Submit_Survey_Enumerator_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citizen_Change_Password_Servlet</display-name>
    <servlet-name>Citizen_Change_Password_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Citizen_Change_Password_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citizen_Change_Password_Servlet</servlet-name>
    <url-pattern>/Citizen_Change_Password_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enumerator_Change_Password_Servlet</display-name>
    <servlet-name>Enumerator_Change_Password_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Enumerator_Change_Password_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enumerator_Change_Password_Servlet</servlet-name>
    <url-pattern>/Enumerator_Change_Password_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Logout_Servlet</display-name>
    <servlet-name>Admin_Logout_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Admin_Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Logout_Servlet</servlet-name>
    <url-pattern>/Admin_Logout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enumerator_Logout_Servlet</display-name>
    <servlet-name>Enumerator_Logout_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Enumerator_Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enumerator_Logout_Servlet</servlet-name>
    <url-pattern>/Enumerator_Logout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citizen_Logout_Servlet</display-name>
    <servlet-name>Citizen_Logout_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Citizen_Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citizen_Logout_Servlet</servlet-name>
    <url-pattern>/Citizen_Logout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citizen_Submit_Survey_Servlet</display-name>
    <servlet-name>Citizen_Submit_Survey_Servlet</servlet-name>
    <servlet-class>com.survey_tool.controller.Citizen_Submit_Survey_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citizen_Submit_Survey_Servlet</servlet-name>
    <url-pattern>/Citizen_Submit_Survey_Servlet</url-pattern>
  </servlet-mapping>
</web-app>